<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Modification</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <form action="/enregistrer" method="POST">
        <h1>Modification d'un capteur</h1>
        <p>
            <p>Type : {{ capteur.type }}</p>
        </p>
        <p>
            <label for="nom-donnee">Nom : </label>
            <input type="text" name="nom-donnee" id="nom-donnee" value="{{ capteur.nom_mesure }}">
        </p>
        <p>
            <label for="frequence"> Fréquence</label>
            <input type="number" name="frequence" id="frequence" value="{{ capteur.delai }}">
        </p>
        <input type="text" name="requete" value="{{ capteur.requete }}" hidden>
        <input type="submit" value="Modifier">
    </form>
    <a href="/">Accueil</a>
</body>

</html>